@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

html {
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: hsl(207, 26%, 17%);
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
  padding: 0 40px;
}
