@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;768&display=swap');

/* Structure properties */
html {
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: hsl(207, 26%, 17%);
  color: white;
}

html,
body,
div#__nuxt,
div#__layout,
.wrapper {
  height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
  padding: 0 40px;
}

@media only screen and (max-width: 768px) {
  .container {
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media only screen and (max-width: 640px) {
  .container {
    margin-right: auto;
    margin-left: auto;
  }
}

/* Global buttons style */
.button {
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  outline: none;
  background-color: hsl(209, 23%, 22%);
  border-radius: 2px;
  box-shadow: 5px 10px 20px -4px rgba(0, 0, 0, 0.33);
  transition: all 0.05s ease-in-out;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: hsl(209, 22%, 20%);
}

.button:active {
  transform: translateY(2px);
}

/* Global Shadow */
.shadow-default {
  box-shadow: 5px 5px 17px -7px #000000;
}

/* Global link style */
a {
  color: white;
  text-decoration: none;
}
